:root {
	--font-color: black;
	--bg-color: white;
}

:focus {
	outline: 5px var(--bg-color) solid;
}

aside::after:hover, aside::after::focus
    {
        transform: translateX(0 );
    }
 
aside {
	z-index: 999;
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--font-color);
	outline: 2px var(--bg-color) solid;
	width: 300px;
	padding: 25px;
    a {
        text-decoration: none;
    }

    &::after {
        top: 0;
        left: -52px;
        content: "";
        position: absolute;
        width: 50px;
        aspect-ratio: 1;
        background-color: var(--font-color);
        background-image: url("icon.png");
        background-size: contain;
        border-left: 2px var(--bg-color) solid;
        border-bottom: 2px var(--bg-color) solid;
    }

    h1 {
        font-size: 1.5em;
        color: var(--bg-color);
        font-family: 'Arial', 'Arial Narrow Bold', sans-serif;
    }
		label {
			text-align: center;
			display: block;
			color: var(--bg-color);
			outline: 2px var(--bg-color) solid;
			width: 200px;
			border-radius: 5px;
			padding: 10px 25px;
			margin: 15px 0;
			&:hover {
				cursor: pointer;
			}
			input {
				display: none;
			}
		}
	}



body:has([value="biggertxt"]:checked),
body:has([value="biggertxt"]:checked) .info-item {
    font-size: 32px;
}

body:has([value="smallertxt"]:checked),
body:has([value="smallertxt"]:checked) .info-item  {
    font-size: 16px;
}

body:has([value="inverted"]:checked)::after {
	content: "";
	position: fixed;
	inset: 0;
	backdrop-filter: invert(1);
	pointer-events: none;
	z-index: 1;
}

mark {
	padding: 10px;
	outline: 2px solid var(--font-color);
	border-radius: 30px;
	background-color: transparent;
}

	button {
		text-align: center;
		display: block;
		color: var(--bg-color);
		outline: 2px var(--bg-color) solid;
		width: 200px;
		border-radius: 5px;
		padding: 10px 25px;
		margin: 10px 0;
		background: transparent;
		font-size: 1em;
	}